.column-form {
    flex: 1;
    min-width: 650px !important;
    background: rgb(255, 255, 255);
    
  }

  .align-buttons-right-add button {
   margin-left: 10px;
   margin-bottom: 25px;
   background-color: blue;
  }

.inputFieldContainer {
    padding-top: 10px;
}

.mat-checkbox-input {
  margin-left: 5px;
  padding: 10px;    
}

.mat-checkbox-label {
  margin-left: 5px;
  margin-right: 10px;
  color: white;
}

.custom-button {
  background-color: rgb(2, 65, 2);
}