<div class="table-content">
    <div class="mat-elevation-z8">
      <div class="two-columns-container">
        <div class="column-table">
          <custom-table [tableUpdate]="tableUpdateFunc" [tableCreate]="tableCreateFunc"></custom-table>
        </div>
        <div class="column-form" [style.display]="selTableRow ? 'block' : 'none'">
          <!---<custom-form [loadForm]="loadFormFunc" [resetForm]="csvTemplateConfigResetFormFunc" [saveForm]="csvTemplateConfigSaveFormFunc"></custom-form>--->
          <app-detail-view-csv-template-config [resetForm]="csvTemplateConfigResetFormFunc"   [lastIdCsv]="lastIdCsv">
          </app-detail-view-csv-template-config>
        </div>
      </div>
    </div>
</div>
