.mat-dialog-container {
  text-align: center;
}

.mat-dialog-actions {
  display: block;
}

.mat-dialog-content {
  text-align: center !important;
  padding-bottom: 25px !important;
}

.btn {
  margin-top: 10px;
}

.btn.btn-success {
  float: right;
}

.btn.btn-secondary {
  float: left;
}

.csv-choose {
  padding: 50px;
}

.mat-dialog-actions .mat-button-base+.mat-button-base {
  margin-left: 365px;
}

.mat-button.mat-accent,
.mat-icon-button.mat-accent,
.mat-stroked-button.mat-accent {
  color: rgba(0,0,0,.54);
}

.mat-dialog-container {
  text-align: center;
}

.mat-dialog-actions {
  display: block;
}

.mat-dialog-content .inputField {
  padding: 25px 20px 50px;
  width: 100%;
}

.mat-menu-item .mat-icon {
  margin-right: 16px;
  vertical-align: middle;
}
