/public/
!/public/index.html
.idea/.gitignore
.idea/SOAS-GIT.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
app.js
dist/
logs/
pdfs/
**/*.js
*.js.map
node_modules/
.idea/
.env
.env.prod
.env.dev
client/build/
!/routes/logic/migrations/*.js
!/routes/logic/seeders/*.js
**/*.pdf
