.p-datatable table {
  width: 200%;
}

:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.input-small-width {
  width: 47px;
}

.input-middle-width {
  width: 110px;
}
