<div *ngIf="!newPositionMode && !positionsEditableFlag" class="row-table">
  <div class="table-block-scrollable">
    <p-table #pTable
             *ngIf="!newPositionMode"
             [autoLayout]="false"
             [columns]="cols"
             [paginator]="true"
             [resizableColumns]="true"
             [rows]="rows"
             [scrollable]="false"
             [showCurrentPageReport]="true"
             [value]="positionsWithId"
             class="orders-positions-table"
             currentPageReportTemplate="{{'P_TABLE_SHOWING_ENTRIES'| translateIt}}"
             dataKey="{{dataKey}}"
             scrollHeight="200px"
             selectionMode="single">
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
          <input #opDataTableSearchInput
                 (input)="pTable.filterGlobal(opDataTableSearchInput.value, 'contains')"
                 pInputText
                 placeholder="Suche Position"
                 size="50"
                 style="width:auto"
                 type="text">
        </div>
      </ng-template>
      <ng-template let-columns pTemplate="colgroup">
        <colgroup>
          <ng-container *ngFor="let col of columns" [ngSwitch]="col.disabled">
            <col *ngSwitchCase="0" [style.width]="col.width">
          </ng-container>
        </colgroup>
      </ng-template>
      <ng-template let-columns pTemplate="header">
        <tr>
          <ng-container *ngFor="let col of columns" [ngSwitch]="col.disabled">
            <th *ngSwitchCase="0" [pSortableColumn]="col.field">
              {{col.header | translateIt}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
          <th *ngIf="showDeletePositionButtonInTH()" class="delete-position-th"></th>
        </tr>
      </ng-template>
      <ng-template let-columns="columns" let-op let-rowIndex="rowIndex" pTemplate="body">
        <tr [pEditableRow]="op"
            [style.background]="highlightSetPosition(this.refTable, rowIndex)">
          <ng-container *ngFor="let col of columns; let i = index" [ngSwitch]="col.type">
            <ng-container *ngIf="!col.disabled">
              <td *ngSwitchCase="'input'"
                  id="id_{{this.positionsWithId[rowIndex]?.ID}}_td_{{rowIndex}}_{{i}}"
                  pEditableColumn>
                <p-cellEditor id="cell_{{rowIndex}}_{{i}}">
                  <ng-template pTemplate="input">
                    <input type="text" pInputText
                           (ngModelChange)="inputChangeValidation($event, col.field,
                                       'id_'+this.positionsWithId[rowIndex].ID+'_td_'+rowIndex+'_'+i, rowIndex)"
                           [(ngModel)]="op[col.field]"
                           (keydown)="consumeKey($event)"
                           pInputText
                           placeholder="Erforderlich"
                           required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{this.showPositionStateText('ord', col.field, op[col.field])}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngSwitchCase="'inputNumber'"
                  id="id_{{this.positionsWithId[rowIndex]?.ID}}_td_{{rowIndex}}_{{i}}"
                  pEditableColumn>
                <p-cellEditor id="cell_{{rowIndex}}_{{i}}">
                  <ng-template pTemplate="input">
                    <input type="number" pInputText
                           (ngModelChange)="inputChangeValidation($event, col.field,
                                       'id_'+this.positionsWithId[rowIndex].ID+'_td_'+rowIndex+'_'+i, rowIndex)"
                           [(ngModel)]="op[col.field]"
                           [max]="getInputNumberMax(col.field)"
                           [min]="getInputNumberMin()"
                           [style]="getInputNumberStyles(col.field)"
                           (keydown)="consumeKey($event)"
                           mode="decimal"
                           placeholder="Erforderlich"
                           required>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{this.showPositionStateText('ord', col.field, op[col.field])}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngSwitchCase="'textarea'"
                  id="id_{{this.positionsWithId[rowIndex]?.ID}}_td_{{rowIndex}}_{{i}}"
                  pEditableColumn>
                <p-cellEditor id="cell_{{rowIndex}}_{{i}}">
                 <textarea
                   (ngModelChange)="inputChangeValidation($event, col.field,
                                       'id_'+this.positionsWithId[rowIndex].ID+'_td_'+rowIndex+'_'+i, rowIndex)"
                   [(ngModel)]="op[col.field]"
                   (keydown)="consumeKey($event)"
                   cols="{{col.cols ? col.cols : 35}}"
                   name="{{col.field}}"
                   pInputTextarea
                   placeholder="Erforderlich"
                   required
                   rows="{{col.rows ? col.rows : 5}}">
                                </textarea>
                  <ng-template pTemplate="output">
                    {{this.showPositionStateText('ord', col.field, op[col.field])}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td *ngSwitchCase="'span'"
                  id="id_{{this.positionsWithId[rowIndex]?.ID}}_td_{{rowIndex}}_{{i}}"
              >
                 <span *ngIf="showPositionAsSpan(this.refTable, rowIndex, col.field)">
                    {{this.showPositionStateText('ord', col.field, op[col.field])}}
                 </span>
                <ng-template pTemplate="output">
                  {{this.showPositionStateText('ord', col.field, op[col.field])}}
                </ng-template>
              </td>
            </ng-container>
          </ng-container>
          <td *ngIf="showDeleteButtonForSetPosition(rowIndex)" class="delete-position-button">
            <button (click)="deletePosition(op, rowIndex)"
                    class="ui-button-danger"
                    hideDelay="350"
                    icon="pi pi-times"
                    pButton
                    pCancelEditableRow
                    pTooltip="Artikel löschen"
                    showDelay="1500"
                    tooltipPosition="top"
                    type="button">
            </button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10"
              style="text-align:left">{{'NO_POSITIONS_FOUND' | translateIt}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
