<!--<div class="form">-->
<!--  <div class="title-block">-->
<!--    <span class="new-position-button">-->
<!--    </span>-->
<!--    <span style="text-align:center">-->
<!--      <h3 *ngIf="!newItemMode">-->
<!--        {{formTitle | translateIt}}-->
<!--      </h3>-->
<!--      <h3 *ngIf="newItemMode">-->
<!--        {{ createTitle | translateIt}}-->
<!--      </h3>-->
<!--    </span>-->
<!--    <span class="new-position-button right-side">-->
<!--      <button class="create-button"-->
<!--              mat-icon-button color="primary"-->
<!--              (click)="createItem();"-->
<!--              matTooltip="{{ createTooltip | translateIt}}">-->
<!--        {{ 'CREATE_NEW_ATTRIBUTE' | translateIt }}-->
<!--        <mat-icon aria-label="add">add</mat-icon>-->
<!--      </button>-->
<!--    </span>-->
<!--  </div>-->
<!--  <dynamic-two-columns-form [fields]="customFormConfig" (submit)="onFormSubmit($event)" (reset)="close()" *ngIf="customFormConfig">-->
<!--  </dynamic-two-columns-form>-->
<!--</div>-->
<!--<app-attribute-p-dialog [attrViewUpdate]="attrViewUpdateFunc"></app-attribute-p-dialog>-->
