
.btn {
  margin-left: 20px;
}

.align-buttons-right{
  text-align: right;
  padding-top: 20px;
}

.align-buttons-left{
  text-align: left;
}

.scrollable-table-form {
  overflow-y: auto;
  max-height: 570px;
  /*570px and 650px;*/
}

.two-dynamic-forms {
  display: flex;
  width: 100%;
}

.left-dynamic-form {
  width: 50%;
  margin: 10px;
}

.right-dynamic-form {
  width: 50%;
  margin: 10px;
}
