.table-content {
  padding: 30px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.two-columns-container {
  display: flex;
}

.column-table,
.column-form {
  float: left;
}

.column-table {
  flex: 1;
}

.column-form {
  flex: 1;
  min-width: 700px;
  background: white;
  padding: 30px;
  margin-left: 10px;
}

.mat-elevation-z8 {
  box-shadow: none;
}
